<!-- // Name: Zhihao Yu
// ID: 301305633 -->
<script src="https://kit.fontawesome.com/093ba5dd7e.js" crossorigin="anonymous"></script>
    <div class="contanier">
        <nav>
            <img src="../../img/images.jpeg" alt="" class="logo">
            <ul id="sideMenu">
                <li><a href="home">Home</a></li>
                <li><a href="about">About Me</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="contact">Contact Me</a></li>
                <i class="fas fa-times" onclick="closeMenu()"></i>
            </ul>
            <i class="fa-solid fa-bars" onclick="openMenu()"></i>
        </nav>
    </div>