<!-- // Name: Zhihao Yu
// ID: 301305633 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Zhihao Yu Personal website</title>
    <script src="https://kit.fontawesome.com/093ba5dd7e.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div id="index">
            <div class="contanier">
                <div class="header-text">
                    <p>Js Web developer</p>
                    <h1>Hi,I'm <span>Howard Yu</span> <br> from China</h1>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>