<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/style.css" rel="stylesheet" type="text/css" />
    <title>Zhihao Yu Personal website</title>
    <script src="https://kit.fontawesome.com/093ba5dd7e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <!-- ---------------services------------------ -->
    <main>
        <div id="services">
            <div class="container">
                <div class="bar">
                    <h1 class="sub-title">My Services</h1>
                </div>
                
                <div class="services-list">
                    <div>
                        <i class="fa fa-free-code-camp"></i>
                        <h2>Web Design</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, debitis officiis. Blanditiis,
                            tenetur aperiam voluptas officia dolores nulla iure impedit esse velit expedita labore sed alias
                            quae beatae voluptatem laboriosam!
                        </p>
                        <a href="#">Learn more</a>
                    </div>
    
                    <div>
                        <i class="fas fa-folder"></i>
                        <h2>UI/UX Design</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, debitis officiis. Blanditiis,
                            tenetur
                            aperiam voluptas officia dolores nulla iure impedit esse velit expedita labore sed alias quae
                            beatae
                            voluptatem laboriosam!
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-brands fa-uncharted"></i>
                        <h2>App Development</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, debitis officiis. Blanditiis,
                            tenetur
                            aperiam voluptas officia dolores nulla iure impedit esse velit expedita labore sed alias quae
                            beatae
                            voluptatem laboriosam!
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
   
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>