<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/style.css" rel="stylesheet" type="text/css" />
    <title>Zhihao Yu Personal website</title>
    <script src="https://kit.fontawesome.com/093ba5dd7e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <!-- ---------------services------------------ -->
    <main>
        <div id="services">
            <div class="container">
                <div class="bar">
                    <h1 class="sub-title">My Services</h1>
                </div>
                
                <div class="services-list">
                    <div>
                        <i class="fa fa-free-code-camp"></i>
                        <h2>Web Design</h2>
                        <p>
                            Choosing the right marketing agency to design and develop your website is hard. We use the Angulars framework and combine it with my marketing experience to ensure you reach your business goals. You'll receive a website that looks stunning and does the selling for you.
                        </p>
                        <!-- <a href="#">Learn more</a> -->
                    </div>
                    <div>
                        <i class="fa-brands fa-uncharted"></i>
                        <h2>App Development</h2>
                        <p>
                            From mobile app strategy to ongoing improvement & support throughout product lifecycle. My services got you covered on native & cross-platform mobile app development.
                        </p>
                        <!-- <a href="#">Learn more</a> -->
                    </div>
                    <div>
                        <i class="fas fa-laptop"></i>
                        <h2>Computer Hardware Troubleshooting</h2>
                        <p>
                            I provide computer troubleshooting, repairing, and Bios chip password removal. Mainly in the following computer models: Panasonic Toughbook, Lenovo and Dell laptop.
                        </p>
                        <!-- <a href="#">Learn more</a> -->
                    </div>
                </div>
            </div>
        </div>
    </main>
   
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>